@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border-color: lighten($background, 10%),
  $hover-color: $color
) {
  color: $color;
  border-color: $border;
  background: $background;
  &:hover {
    color: $hover-color;
    border-color: $hover-border-color;
    background: $hover-background;
  }

  &.focus,
  &:focus {
    color: $hover-color;
    border-color: $hover-border-color;
    background: $hover-background;
  }

  &.disabled,
  &:disabled {
    color: $color;
    border-color: $border;
    background: $background;
  }
}
